%% 2i_preload.config
   %%
   %% This basho_bench configuration file preloads a database with 10M
   %% sequentially ordered keys.

   {operations, [
       {{put_pb, 1}, 1}
   ]}.

   {mode, max}.

   {concurrent, 20}.

   {duration, infinity}.

   {driver, basho_bench_driver_2i}.

   {code_paths, [
       "deps/stats",
       "deps/riakc",
       "deps/protobuffs",
       "deps/mochiweb"
   ]}.

   {key_generator,
       %{sequential_int, 100000}}.
       {partitioned_sequential_int, 100000}}.

   {value_generator,
       {fixed_bin, 1000}}.

   {pb_ips, [
    "10.0.27.21",
    "10.0.27.23",
    "10.0.27.24",
    "10.0.27.25"
   ]}.

   {pb_port, 8087}.

   {http_hosts, [
    "10.0.27.21",
    "10.0.27.23",
    "10.0.27.24",
    "10.0.27.25"
   ]}.

   {http_port, 8098}.

   {rng_seed, {1, 2, 3}}.

   {riakc_pb_bucket, <<"otherbucket">>}.
