%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "basho-bench"}.
{package_install_name, "basho_bench"}.
{package_install_user, "basho-bench"}.
{package_install_group, "basho-bench"}.
{package_install_user_desc, "Basho-bench user"}.
{package_shortdesc, "Basho benchmarking tool"}.
{package_desc, "Benchmarking tool"}.
{package_commands, {list, [[{name, "basho_bench"}]]}}.
{package_patch_dir, "basho-patches"}.
{bin_or_sbin, "bin"}.
{license_type, "OSS"}.
{copyright, "2014 Basho Technologies, Inc"}.
{vendor_name, "Basho Technologies, Inc"}.
{vendor_url, "http://basho.com"}.
{vendor_contact_name, "Basho Package Maintainer"}.
{vendor_contact_email, "packaging@basho.com"}.
{license_full_text, "This software is provided under license from Basho Technologies."}.
{solaris_pkgname, "BASHObasho-bench"}.
