{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_https_streethawk}.
%% Default generators, reference by the atoms key_generator and value_generator
{key_generator, uuid_v4}.
{value_generator, {fixed_bin, 10000}}.

%%% Generators: {Name, KeyGen | ValGen}
% Name: atom()
% KeyGen: User or Basho Bench defined key generator
% ValGen: User or Basho Bench defined value generator
{generators, [
              {string_g, {key_generator, {int_to_str, {uniform_int, 50000}}}},
              {binstring_g, {value_generator, {fixed_bin, 100}}},
              {install_g, {value_generator, {function, pointzi, generate_install, []}}}
             ]}.

%%% Values: {Name, Value}
%%%         {Name, {FormattedValue, Generators}}
% Name: atom()
% Value: string() | atom() - named generator, can be key_generator or value_generator for default
% FormattedValue: string() - formatted with io_lib:format
% Generators: list() - list of generators, can be key_generator or value_generator for default
{values, [
          {json_v, install_g}
         ]}.

%%% Headers: {Name, Headers}
% Name: atom()
% Headers: proplist()
{headers, [
           {json_h, [{"Content-Type", "application/json"}, {"Accept", "application/json"}]}
          ]}.

%%% Targets: {Name, {Host, Port, Path}}
%%%          {Name, [{Host1, Port1, Path1},{Host2, Port2, Path2},...]}
%%%          {Name, {Host, Port, {FormattedPath, Generators}}}
%%%          {Name, [{Host1, Port1, {FormattedPath1, Generators1}},{Host2, Port2, {FormattedPath2, Generators2}},...]}
% Name: atom()
% Host: string()
% Port: integer()
% Path: string()
% FormattedPath: string() - formatted with io_lib:format
% Generators: list() - list of generators, can be key_generator or value_generator for default
{targets, [
           %{installs_uri_t, {"localhost", 8000, "/v3/installs"}}
           {installs_uri_t, {"https://george.pointzi.com", 443, "/v3/installs"}}
          ]}.

%%% Operations: {{get|delete, Target}, Weight}
%%%             {{get|delete, Target, Header}, Weight}
%%%             {{put|post, Target, Value}, Weight}
%%%             {{put|post, Target, Value, Header}, Weight}
% Target: atom() - defined target
% Header: atom() - defined header
% Value: atom() - defined value
% Weight: integer() - ratio of this operation to the rest (ThisWeight / TotalWeightSum = % of this Operation)

{operations, [
              %% Get without a key
              %%{{get, base_uri_t}, 1},
              {{post, installs_uri_t, json_v, json_h}, 1}
             ]}.
