
{deps,
 [
  %% NOTE: some basho_bench drivers make use of pre-folsom stats
  %%       that permitted float type counter increments.  Thus
  %%       we currently rely on a custom branch of folsom that
  %%       has a useful-but-icky hack that allows fractional
  %%       increments.  If someone wants to take advantage of a
  %%       new folsom feature, that desire + float incr must be
  %%       weighed.
  {folsom, ".*", {git, "git://github.com/basho/folsom.git", {branch, "boundary-0.7.1+basho-bench-float"}}},

  {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
  {ibrowse, ".*",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v3.0.4"}}},
  {casbench, "0.1",
   {git, "git://github.com/basho/casbench",
    "95ed55b494551577870984aeb1e0f683631a326f"}},
  {erlcql, ".*",
   {git, "git://github.com/rpt/erlcql.git",
   {branch, "master"}}},
  {mochiweb, ".*",
   {git, "git://github.com/basho/mochiweb", {tag, "1.5.1p6"}}},
  {getopt, ".*",
   {git, "git://github.com/jcomellas/getopt", {tag, "v0.4"}}},
  {websocket_client, ".*", {git, "git://github.com/RoXeon/websocket_client", {tag, "c8a2554"}}},
  {protobuffs, "0.8.1", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1"}}},
  {ctool,".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {tag, "4b4711d"}}}
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager, getopt, bear, ctool, folsom, ibrowse,  mochiweb, protobuffs,  goldrush, websocket_client]}.

{escript_emu_args, "%%! +K true\n"}.
%% Use this for the Java client bench driver
%% {escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
{escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
