{deps, [
        {stats, ".*", {git, "git://github.com/dizzyd/stats.git", "HEAD"}},
        {ibrowse, ".*", {git, "git://github.com/dizzyd/ibrowse.git", "HEAD"}},
        {casbench, "0.1", {hg, "http://bitbucket.org/basho/casbench", "tip"}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "HEAD"}}
       ]}.

{escript_incl_apps, [stats, ibrowse, riakc, protobuffs]}.
