{require_otp_vsn, "20"}.

{deps,
 [
  {folsom, "0.8.7"},
  {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.9.1"}}},
  {ibrowse, ".*",
   {git, "https://github.com/basho/ibrowse.git", {branch, "develop"}}},
  {riakc, ".*",
   {git, "https://github.com/basho/riak-erlang-client", {branch, "develop-3.2"}}},
  {mochiweb, "2.9.*",
   {git, "https://github.com/basho/mochiweb", {branch, "develop-3.2"}}},
  {getopt, ".*",
   {git, "https://github.com/jcomellas/getopt", {tag, "v0.8.2"}}},
  {bitcask, ".*",
   {git, "https://github.com/basho/bitcask", {branch, "develop"}}},
  {eleveldb, ".*",
   {git, "https://github.com/basho/eleveldb", {branch, "develop"}}}
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [
    folsom,
    getopt,
    ibrowse,
    lager,
    mochiweb,
    riakc,
    bitcask,
    eleveldb
]}.

%% When using the Java client bench driver, please use the -N and -C
%% command line options to set the distributed Erlang node name
%% and node cookie for the basho_bench VM.
%% It isn't necessary to set the node name and cookie here.
%%
%% If you have any need to run basho_bench in an interactive way with
%% the Erlang CLI, then remove the -noshell and -noinput flags.
%%
%% The value of +Q here is for 1.2 million ports, but the process
%% won't be able to open that many ports without also adjusting the
%% OS process's file descriptor limit, e.g., using "ulimit -n".

{escript_emu_args, "%%! +K true -rsh ssh -noshell -noinput +P 1222333 +Q 1222333 +zdbbl 32768\n"}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.
