%% Run this once with only the 'put' operation enabled to preload
%% data.
%%
%% Run again with the '_eq_query' or '_range_query' operations enabled
%% to perform equality or range lookups.
%%
%% Note that with even a nominal amount of data loaded, the range
%% operations get quite large.

{operations, [
             {put, 1}
             % {get, 1}

             % {int_eq_query, 1},
             % {bin_eq_query, 1}

             % {int_range_query, 1},
             % {bin_range_query, 1}
             ]}.

{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_2i}.

{code_paths, ["deps/stats",
              "deps/riakc",
              "deps/protobuffs"]}.

{key_generator, {int_to_bin, {uniform_int, 10000}}}.

{value_generator, {fixed_bin, 100}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

{num_integer_indexes, 3}.
{num_binary_indexes, 3}.
{binary_index_size, 20}.

{rng_seed, {1, 2, 3}}.
