{driver,
    basho_bench_driver_2i}.

{operations, [
    {get_pb, 1},
    {{put_pb, 5}, 20},
    {{query_http, 10}, 1},
    {{query_mr,   10}, 1},
    {{query_pb,   10}, 1}
]}.

{measurement_driver,
    basho_bench_measurement_erlangvm}.

{measurements, [
    {memory, 1000},
    {cpu, 1000},
    {processes, 1000},
    {filehandles, 1000}
]}.

%%% LOAD SETTINGS %%%

{mode, max}.
{duration, 1}.
{concurrent, 3}.

%%% DATA SHAPE %%%

{key_generator, {uniform_int, 1000}}.
{value_generator, {fixed_bin, 1000}}.

{pb_ips, ["127.0.0.1"]}.
{pb_replies, 1}.

{http_ips, ["127.0.0.1"]}.
{http_port, 8098}.

%% Timeout units are milliseconds, default = 30000
{pb_timeout_general, 30000}.
{http_timeout_general, 30000}.

%%It can also be configured for devrel!
%%{pb_ips, [{"127.0.0.1", 8081},
%%          {"127.0.0.1", 8082},
%%          {"127.0.0.1", 8083},
%%          {"127.0.0.1", 8084}
%%]}.
%%{pb_replies, 1}.
%%
%%{http_ips, [{"127.0.0.1", 8091},
%%            {"127.0.0.1", 8092},
%%            {"127.0.0.1", 8093},
%%            {"127.0.0.1", 8094}
%%]}.

{rng_seed, {1, 2, 3}}.

%% enforce_keyrange is for use with sequential_int
%% Will error if keys in a range are missing.
%%{enforce_keyrange, 10000}.

%%% MEASUREMENT SETTINGS %%%

{nodes, ['riak@127.0.0.1']}.
{cookie, riak}.
