{driver,
    basho_bench_driver_2i}.

{operations, [
    {"get-pb", get_pb, 1},
    {"put-pb-5", {put_pb, 5}, 20},
    {"query-http-10", {query_http, 10}, 1},
    {"query-mr-10", {query_mr,   10}, 1},
    {"query-pb-10", {query_pb,   10}, 1}
]}.

{measurement_driver,
    basho_bench_measurement_erlangvm}.

{measurements, [
    {memory, 1000},
    {cpu, 1000},
    {processes, 1000},
    {filehandles, 1000}
]}.

%%% LOAD SETTINGS %%%

{mode, max}.
{duration, 1}.
{concurrent, 3}.

%%% DATA SHAPE %%%

{key_generator, {uniform_int, 1000}}.
{value_generator, {fixed_bin, 1000}}.

{pb_ips, [{127,0,0,1}]}.
{pb_replies, 1}.

{http_hosts, ["127.0.0.1"]}.
{http_port, 8098}.

{rng_seed, {1, 2, 3}}.

%%% MEASUREMENT SETTINGS %%%

{nodes, ['riak@127.0.0.1']}.
{cookie, riak}.

%%% CODE PATHS %%%

{code_paths, ["deps/stats",
              "deps/riakc",
              "deps/protobuffs",
              "/Users/rusty/Documents/Basho/RiakKV/deps/mochiweb"]}.
