% https://github.com/basho/internal_wiki/wiki/Riak-Index-Benchmark-20111205#wiki-2i_preload.config

%% 2i_preload.config
   %%
   %% This basho_bench configuration file preloads a database with 10M
   %% sequentially ordered keys.

   {operations, [
       {{put_pb, 1}, 1}
   ]}.

   {mode, max}.

   {concurrent, 100}.

   {duration, 999}.

   {driver, basho_bench_driver_2i}.

   {code_paths, [
       "deps/riakc",
       "deps/protobuffs",
       "deps/mochiweb"
   ]}.

   {key_generator,
       {partitioned_sequential_int, 10000000}}. %SLF!!

   {value_generator,
       {fixed_bin, 1000}}.

   {sequential_int_state_dir, "/tmp/bench"}.

   {pb_ips, [
       {71,126,247,236}
   ]}.

   {pb_port, 8087}.

   {http_hosts, [
       "71.126.247.236"
   ]}.

   {http_port, 8098}.

   {rng_seed, {1, 2, 3}}.
