  {operations, [
        {{put_pb, 100},  1},
        {{put_pb, 1000}, 1}
  ]}.
  {driver, basho_bench_driver_2i}.

%%  {measurements, [
%%      {memory, 1000},
%%      {cpu, 1000},
%%      {processes, 1000},
%%      {filehandles, 1000}
%%  ]}.
%%  {measurement_driver,
%%    basho_bench_measurement_erlangvm}.

  {mode, {rate, 15}}.

%%  {concurrent, 15}.
  {concurrent, 32}.

  {duration, 20}.

  {code_paths, [
      "deps/riakc",
      "deps/protobuffs",
      "deps/mochiweb"
  ]}.

  {key_generator,
      {uniform_int, 10000000}}.

  {value_generator,
      {fixed_bin, 1000}}.

  {pb_ips, ["71.126.247.236"]}.

  {pb_port, 8087}.

  {http_ips, [
      "71.126.247.236"
  ]}.

  {http_port, 8098}.

  {nodes, [
          'riak@71.126.247.236'
          ]}.

  {cookie, riak}.

  {rng_seed, {31, 22, 15}}.
