{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_2i_pb}.

{code_paths, ["deps/stats",
              "deps/riakc",
              "deps/protobuffs"]}.

{key_generator, {int_to_bin, {uniform_int, 10000}}}.

{value_generator, {fixed_bin, 100}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

{num_integer_indexes, 3}.
{num_binary_indexes, 3}.
{binary_index_size, 20}.


%% Available operations:
%% + get
%% + put
%% + int_eq_query
%% + int_range_query
%% + bin_eq_query
%% + bin_range_query

{operations, [
             {get, 1},
             {put, 1},
             % {int_eq_query, 1},
             % {int_range_query, 1},
             % {bin_eq_query, 1},
             {bin_range_query, 1}
             ]}.

