{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_bigset}.

{code_paths, ["/Users/russell/dev/e/basho/proto/bigset/ebin"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 1}}}.

{value_generator, {fixed_bin, 10000}}.

{bigset_nodes, ['bigset@127.0.0.1']}.

{bigset_mynode, ['bigset_bench@127.0.0.1', longnames]}.

{operations, [{insert, 100}]}.