{mode, max}.

{report_interval, 1}.

{duration, 360}.

{concurrent,3}.

{driver, basho_bench_driver_bigset}.

{code_paths, ["/Users/russell/dev/e/basho/proto/demo/bigsets/ebin"]}.

%% This generates a workload that is N(eg5) concurrent workers, each
%% updates X(eg50) sets, each set has T(eg100k) elements. Each worker
%% contributes a Nth(eg5th) of the keys.

{key_generator, {int_to_bin_bigendian, {sequential_int, 1}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {named_partitioned_sequential_int, bob, 1, 100000}}}}.

{bigset_nodes, ['bigset@127.0.0.1']}.

{bigset_mynode, ['bigset_bench@127.0.0.1', longnames]}.

{operations, [{insert_pl, 1}]}.
