%% Create KeyGen sets with ValGen members.
%% N concurrent processes add N/ValGen members

{mode, max}.

{report_interval, 1}.

{duration, 360}.

{concurrent, 5}.

{driver, basho_bench_driver_bigset}.

{code_paths, ["../bigsets/ebin"]}.

{key_generator, {int_to_bin_bigendian, {sequential_int, 10}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {partitioned_sequential_int, 100000}}}}.

{bigset_nodes, ['bigset@127.0.0.1']}.

{bigset_mynode, ['bigset_bench@127.0.0.1', longnames]}.

{operations, [{insert, 1}]}.
