{mode, max}.

{report_interval, 1}.

{duration, 1}.

{concurrent, 5}.

{driver, basho_bench_driver_bigset}.

{code_paths, ["../bigsets/ebin"]}.

{key_generator, {int_to_bin_bigendian, {pareto_int, 10}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {uniform_int, 100000}}}}.
{bigset_nodes, ['bigset1@127.0.0.1','bigset2@127.0.0.1','bigset3@127.0.0.1','bigset4@127.0.0.1']}.
{bigset_mynode, ['bigset_bench@127.0.0.1', longnames]}.
{operations, [{insert, 1}]}.
