{mode, max}.

{report_interval, 1}.

{duration, 20}.

{concurrent, 50}.

{driver, basho_bench_driver_bigset}.

{code_paths, ["/home/russelldb/bigsets/ebin"]}.

{key_generator, {int_to_bin_bigendian, {pareto_int, 1000}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {uniform_int, 100000}}}}.
{bigset_nodes, ['bigset@10.0.24.23','bigset@10.0.24.24','bigset@10.0.24.25','bigset@10.0.24.26']}.
{bigset_mynode, ['bigset_bench@10.0.24.22', longnames]}.
{operations, [{insert, 1}]}.
