{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_bitcask}.

{key_generator, {int_to_bin_bigendian,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to 
%% the relevant directory of a bitcask installation 
{code_paths, ["../../public/bitcask"]}.

{bitcask_dir, "/tmp/bitcask.bench"}.

{bitcask_flags, [o_sync]}.
