{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, riak_bench_driver_bitcask}.

{key_generator, {uniform_int_bin, 5000000}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

{code_paths, ["deps/stats",
              "deps/ibrowse",
              "../../public/bitcask"]}.
