{mode, {rate, 100}}.

{duration, 2}.

{concurrent, 1}.

{driver, basho_bench_driver_bitcask}.

{key_generator, uuid_v4}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{put, 9}, {merge, 1}]}.

{code_paths, ["/Users/dizzyd/src/bitcask"]}.

{bitcask_dir, "/tmp/bitcask.bench"}.

{bitcask_flags, [{max_file_size, 5242880},
                 {log_needs_merge, true}, 
                 {expiry_secs, 10}]}.
