{mode, max}.

{duration, 1}.

{concurrent, 10}.

{driver, basho_bench_driver_cassandra}.
{cassandra_hosts, ["127.0.0.1"]}.
{cassandra_port, 9160}.
{cassandra_keyspace, "Keyspace1"}.
{cassandra_consistencylevel, 1}.


{key_generator, {int_to_str, {uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

{code_paths, ["./deps/casbench/ebin"]}.
