%% Setup notes:
%%
%% Run the following queries in a cqlsh session:
%% CREATE KEYSPACE DEMO WITH strategy_class = SimpleStrategy AND strategy_options:replication_factor = 1;
%% CREATE COLUMNFAMILY test (KEY varchar PRIMARY KEY, val blob);
{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_cassandra_cql}.

%% Preload only
%% {key_generator, {int_to_str, {sequential_int, 50000}}}.
%% All other tests
{key_generator, {int_to_str, {uniform_int, 50000}}}.

{value_generator, {fixed_bin, 100}}.

{cassandra_host, "localhost"}.
{cassandra_port, 9160}.

{cassandra_keyspace, "DEMO"}.
{cassandra_columnfamily, "test"}.
{cassandra_column, "val"}.

%% {operations, [{insert, 1},{put, 1},{get, 1},{delete, 1}]}.
{operations, [{insert, 1}]}.

{code_paths, ["./deps/erlcassa/ebin", "./deps/thrift/ebin"]}.