%% Setup notes:
%%
%% Run the following queries in a cqlsh session:
%% CREATE KEYSPACE DEMO WITH strategy_class = SimpleStrategy AND strategy_options:replication_factor = 1;
%% CREATE COLUMNFAMILY test (KEY varchar PRIMARY KEY, val blob);

%% Cassandra v2.0.1
%% DROP KEYSPACE DEMO;
%% CREATE KEYSPACE DEMO WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1' };
%% USE DEMO;
%% CREATE COLUMNFAMILY test (KEY varchar PRIMARY KEY, val blob);

{mode, max}.

{duration, 1}.

{concurrent, 5}.

{driver, basho_bench_driver_cassandra_cql}.

%% Preload only
%% {key_generator, {int_to_str, {partitioned_sequential_int, 50000}}}.
%% All other tests
{key_generator, {int_to_str, {uniform_int, 50000}}}.

{value_generator, {fixed_bin, 100}}.

{cassandra_host, "localhost"}.
{cassandra_port, 9042}.

{cassandra_keyspace, "DEMO"}.
{cassandra_columnfamily, "test"}.
{cassandra_column, "val"}.

{operations, [{insert, 1},{put, 1},{get, 1},{delete, 1}]}.
%%{operations, [{insert, 1}]}.
%%{operations, [{put, 1}]}.
%%{operations, [{get, 1}]}.
%%{operations, [{delete, 1}]}.

{code_paths, ["./deps/cqerl/ebin", "./deps/pooler/ebin",  "./deps/uuid/ebin",
              "./deps/semver/ebin"]}.
