%% Setup notes:
%% CREATE KEYSPACE DEMO WITH strategy_class = SimpleStrategy AND strategy_options:replication_factor = 1;
%% CREATE COLUMNFAMILY test (KEY varchar PRIMARY KEY, val blob);
{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_cassandra_cql}.

{key_generator, {int_to_str, {uniform_int, 5000000}}}.

%% Formula for size: <num_megabytes>> * 1000 / 20
%% Example: 10MB, size should be 500
{value_generator, {fixed_bin, 500, 'ABCDEF0123456789ABCD}}.

{cassandra_host, "localhost"}.
{cassandra_port, 9160}.

{cassandra_keyspace, "DEMO"}.
{cassandra_columnfamily, "test"}.
{cassandra_column, "val"}.

{operations, [{get, 1},{put, 1}]}.

{code_paths, ["./deps/erlcassa/ebin", "./deps/thrift/ebin"]}.
