%%
%% definition
{log_level,       info}.
{report_interval, 1}.
{driver,          basho_bench_driver_cluster}.

%%
%% workload
{mode,           max}.
{duration,         1}.
{concurrent,      10}.
{key_generator,   {int_to_bin_bigendian, {uniform_int, 10000}}}.
{value_generator, {fixed_bin,   1000}}.

{operations, [
   {put,    1} 
  ,{get,    1}
]}.

%%
%% config
{cluster_actors, [
    {a, 'erlang@127.0.0.1'}
    {b, 'erlang@127.0.0.1'}
    {c, 'gnalre@127.0.0.1'}
]}.

