{mode,{rate,max}}.
{duration,1}.
{rng_seed,now}.

%% This bucket type must be created and set to be datatype, maps.
{riakc_pb_bucket,{<<"counters">>,<<"testbucket">>}}.

%% Pareto distribution over 7.5 million records.
{key_generator, {int_to_bin_bigendian, {uniform_int, 10000}}}.
{value_generator, {uniform_int, 100}}.

{concurrent,10}.

{operations,[{{counter,increment},1},
             {{counter,value},10}]}.

{riakc_pb_ips,[{"127.0.0.1",8087}]}.

{riakc_pb_replies,default}.

{driver,basho_bench_driver_riakc_pb}.
