{mode,{rate,max}}.
{duration,1}.
{concurrent,1}.
{rng_seed,now}.

%% This bucket type must be created and set to be datatype, maps.
{riakc_pb_bucket_map,{<<"maps">>,<<"testbucket">>}}.
{riakc_pb_bucket_set,{<<"sets">>,<<"testbucket">>}}.
{riakc_pb_bucket_counter,{<<"counters">>,<<"testbucket">>}}.
{riakc_pb_bucket_register,{<<"registers">>,<<"testbucket">>}}.

{key_generator, {uniform_int, 1}}.
{value_generator, {uniform_int, 1000}}.
{map_depth, {1,3}}.
{transaction_size, {1,1}}.
{fields_domain, 1000}.
{reg_size_in_bytes, {100, 100}}.

{ops_frequency, [{riakc_counter, {[{increment, 1}, {decrement, 1}], 100}},
                 {riakc_set, {[{add, 1}, {remove, 0}], 100}},
                 {riakc_register, {[{update,1}], 100}},
                 {riakc_flag, {[{disable, 1},{enable, 1}], 100}}]}.

{ops_frequency_map, [{counter, {[{increment, 1}, {decrement, 1}], 100}},
                     {set, {[{add, 1}, {remove, 1}], 100}},
                     {register, {[{update,1}], 100}},
                     {flag, {[{disable, 1},{enable, 1}], 100}}]}.

{operations, [{{riakc_set, op}, 1}]}.

{riakc_pb_ips,[{"127.0.0.1",10017},
               {"127.0.0.1",10027},
               {"127.0.0.1",10037}]}.

{riakc_pb_replies,default}.

{driver,basho_bench_driver_riakc_pb_crdt}.

%./bin/riak-admin bucket-type create maps '{"props":{"datatype":"map"}}'
%./bin/riak-admin bucket-type create sets '{"props":{"datatype":"set"}}'
%./bin/riak-admin bucket-type create registers '{"props":{"datatype":"register"}}'
%./bin/riak-admin bucket-type create counters '{"props":{"datatype":"counter"}}'
%./bin/riak-admin bucket-type activate maps
%./bin/riak-admin bucket-type activate sets
%./bin/riak-admin bucket-type activate registers
%./bin/riak-admin bucket-type activate counters
