%% Sample config file for Riak CS basho_bench benchmarking

%% About rate limiting via the `mode` setting: the `mode` rate is
%% valid for the basho_bench_driver_cs plugin for `get` operations.
%% The `mode` rate does *not* apply to `insert` operations.
%% The driver does *not* support `update` operations

{mode, max}.
%{mode, {rate,4}}.
{duration, 1}.
{concurrent, 1}.
{report_interval, 1}.

{driver, basho_bench_driver_cs}.

%% Two ways of user configuration
%% 1. Set cs_access_key and cs_secret_key for existing user.
%%    Replace this with a user you have created.
%%    Instructions to create a user are here:
%%    http://docs.basho.com/riakcs/latest/cookbooks/Account-Management/#Creating-a-User-Account
{cs_access_key, "ZG7SS3ZPECF-8LZOEBMA"}.
{cs_secret_key, "21HoIRdeO617nJrIbam9mKH2MBxmcsMEwESvmQ=="}.

%% 2. Let the driver create or retrieve user
%%    In this case, you should
%%    - setup riak-cs with {admin_auth_enabled, false} and
%%    - comment out cs_access_key and cs_secret_key above
%%    cs_display_name is used to identify user.
%% {cs_display_name, "test-user"}.

%% CS Bucket, it will be created if needed
{cs_bucket, "test-bucket"}.

{cs_disconnect_frequency, 5}.    % # ops before disconnecting HTTP socket
{cs_raw_ip, "s3.amazonaws.com"}. % DO NOT CHANGE
{cs_raw_port, 80}.               % DO NOT CHANGE
%% Replace these with your HTTP proxy's location (i.e. Riak CS)
{cs_http_proxy_host, [{"localhost", 8080}, {"127.0.0.1", 8080}, {{127,0,0,1}, 8080}]}.
{cs_http_proxy_port, 8080}.
{cs_request_timeout, 999999000}.
% Valid values for cs_measurement_units are ops_sec, byte_sec, kb_sec, 
% kib_sec, mb_sec, or mib_sec.
% If using the cs_measurement_units option, you need to change
% any R graph's labels of the Y axis, e.g. basho_bench's Makefile target
% "make mb_sec-results"
{cs_measurement_units, mb_sec}.

{key_generator, {int_to_str, {partitioned_sequential_int, 1000}}}.
%{key_generator, {int_to_str, {uniform_int, 1000}}}.
%% See comments in source code for bigfile_valgen() function for full
%% explanation of the proplist below.
{value_generator, {function, basho_bench_driver_cs, bigfile_valgen,
                  [[{file_size, 8001001},
                    {ibrowse_chunk_size, 1000000},
                    {max_rate_per_chunk, 50}]]}}.

%% NOTE: It's not a good idea to mix insert & get ops in a single
%%       basho_bench instance with this driver.
%%       Use separate ones instead!
%% bad idea: {operations, [{insert, 1}, {get, 1}]}.
{operations, [{insert, 1}]}.
%{operations, [{get, 1}]}.
%{operations, [{delete, 1}]}.
