%% Simple Test Scenario for CS/S3 compatible Storage Solutions
%% Store and retrieves 1MB documents
%%
%% 1. Use a new, not-yet-existing bucket name for {cs_bucket, ....}
%% 2. Run this test 3 times, each time un-comment another action. 1st put, 2nd get, 3rd delete
%%
%% That should leave you with an empty bucket again
%%

{mode, max}.

{duration, 5}.

{concurrent, 5}.

{driver, basho_bench_driver_cs}.

{cs_access_key, "..your_access_key.."}.
{cs_secret_key, "..your_secret_key.."}.

{cs_host,       "localhost"}.
{cs_port,        8080}.
{cs_protocol,   "http"}.
{cs_bucket,     "bench_test_1mb"}.

{key_generator,   {uniform_int, 100}}.
{value_generator, {fixed_bin, 1000000}}.

%%{operations, [{put, 1}]}.
%%{operations, [{get, 1}]}.
%%{operations, [{delete, 1}]}.

