{mode, max}.

{duration, 5}.

{concurrent, 10}.

{driver, basho_bench_driver_cs}.

{cs_access_key, "your access key for CS"}.
{cs_secret_key, "your secret key for CS"}.
{cs_host,       "localhost"}.
{cs_port,        8080}.
{cs_protocol,   "http"}.
{cs_bucket,     "bench_test_new"}.

{key_generator,   {uniform_int, 1000}}.
{value_generator, {fixed_bin, 10000}}.

{operations, [{put, 1}, {get, 1}]}.
