%% NOTE:
%% This driver requires Riak CS is configured as
%%      {admin_auth_enabled, false},
%% in order to automatically create users and buckets, also list users.

{mode, max}.

{report_interval, 1}.
{duration, infinity}.
{concurrent, 16}.

{driver, basho_bench_driver_cs2}.

{cs2_host_base, "s3.amazonaws.com"}.
{cs2_port, 8080}.
{cs2_hosts, [{"127.0.0.1", 8080}]}.

{cs2_user_count, 30}.

%% For riak_cs_yessir_riak_client, this should be "yessir"
{cs2_user_prefix, "bb-user"}.

{cs2_bucket_prefix, "bb-bucket"}.

%% Keys should be integer.
%% It's good idea to make key count be multiple of `cs2_user_count'.
%%
%% Keys are decomposed as "divmod" manner for object keys and user
%% suffix (one added for 1-origin).
%% Assuming `cs2_user_count' is 3, output are as follows.
%% | input | user     | object key |
%% |     1 | bb-user1 |          1 |
%% |     2 | bb-user2 |          1 |
%% |     3 | bb-user3 |          1 |
%% |     4 | bb-user1 |          2 |
%% |     5 | bb-user2 |          2 |
{key_generator, {partitioned_sequential_int, 100000}}.

{value_generator, {fixed_bin, 10}}.

%% Avaliable operations:
%% - get, get_existing
%% - put, delete, put_delete
%% - noop (for debugging)
{operations, [{put, 1}]}.
