{driver, basho_bench_driver_ets}.

{operations, [{get, 1}, {put,1}, {delete, 1}]}.

%%% LOAD SETTINGS %%%

{mode, max}.
{duration, 1}.
{concurrent, 3}.

%%% DATA SHAPE %%%

{key_generator, {uniform_int, 10000}}.
{value_generator, {fixed_bin, 10000}}.

%% ets options
{ets_table_options, [set,private]}.

