{mode, max}.
{duration, 3}.
{concurrent, 10}.
{report_interval, 1}.
{driver, basho_bench_driver_fling}.
{code_paths, [
	"/Users/mallen/github/basho_bench/deps/fling/ebin"
	]}.
{operations, [{get,1}, {put,1}]}.
{key_generator, {int_to_bin_bigendian, {uniform_int, 100}}}.
{value_generator, {fixed_bin, 100}}.
