{mode, max}.
{duration, 3}.
{concurrent, 10}.
{report_interval, 1}.
{driver, basho_bench_driver_fling}.
{code_paths, [
	"/Users/mallen/github/basho_bench/deps/fling/ebin"
	]}.
{operations, [{get_ets,1}, {get_mg, 1}]}.
{key_generator, {int_to_bin_bigendian, {uniform_int, 100}}}.
{value_generator, {fixed_bin, 100}}.
{fling_ets_options, [{read_concurrency, true}, {write_concurrency, true}]}.
