{mode, max}.
{duration, infinity}.
{concurrent, 100}.
{pb_timeout_general, 1000}.
{driver, basho_bench_driver_riakc_pb}.
{code_paths, ["deps/riakc",
              "deps/protobuffs"]}.
{riakc_pb_bucket, <<"b1">>}.
{key_generator, {int_to_bin, {partitioned_sequential_int, 0, 25000000}}}. % 250mil for ~100gig ondisk
{sequential_int_state_dir, "/tmp/bench"}.
{value_generator, {fixed_bin, 800}}.
% {riakc_pb_ips, [{71,126,247,236}]}.
{riakc_pb_port, 8087}.
{riakc_pb_replies, default}.
{operations, [{put, 1}]}.

