
{mode, max}.
{duration, 20}.
{concurrent, 1}.

{driver, basho_bench_driver_hanoidb}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 5000000}}}.
{value_generator, {fixed_bin, 1024}}.
{operations, [{put, 1}]}.
%{operations, [{get, 1}, {put, 1}]}.
%{operations, [{get, 1}, {put, 1}]}.
%{operations, [{get, 3}, {put, 5}, {delete, 2}]}.

%% The second element in the list below must point to
%% the relevant directory of a HanoiDB installation
{code_paths, ["deps/stats",
              "../hanoidb/ebin",
              "../hanoidb/deps/lager",
              "../hanoidb/deps/plain_fsm/ebin",
              "../hanoidb/deps/sext",
              "../hanoidb/deps/snappy"
%              "../hanoidb/deps/lz4"
              ]}.

% {hanoidb_dir, "/tmp/hanoidb.bench"}.

{hanoidb_flags, [{expiry_secs, 0},
                 {sync_strategy, none}, %% none|sync|{seconds, N}
                 {compress, gzip},    %% none|gzip|snappy|lz4
                 {page_size, 4096},
                 {merge_strategy, predictable} %% predictable|fast
                 ]}.
