%% -*- mode: erlang -*-

{mode, max}.

{duration, 15}.

{concurrent, 20}.

{driver, basho_bench_driver_hibarifs}.

{code_paths, ["lib/cluster_info",
              "lib/gmt_util",
              "lib/gdss_brick",
              "lib/gdss_client",
              "lib/meck",
              "lib/stats",
              "lib/basho_bench"]}.

%{hibarifs_proto, localfs}.

{key_generator, {truncated_pareto_int, 35000}}.
%%{key_generator, {uniform_int, 35000}}.
%%{key_generator, {uniform_int, 3500}}.

%%{value_generator, {constant_bin, 10000}}.
{value_generator, {constant_bin, 0}}.


{operations, [{create, 20}, {write, 20}, {delete, 10}, {read, 60}, {lsdir, 1}]}.

%%{operations, [{create, 1}, {write, 1}, {delete, 1}, {read, 1}, {lsdir, 1}
%%              , {mkdir_empty, 1}, {rmdir_empty, 1}, {lsdir_empty, 1}
%%             ]}.

%%{operations, [{create_and_delete_topdir, 1}]}.
%%{operations, [{create_and_delete_subdir, 1}]}.
%%{operations, [{create_and_delete_topdir, 1}, {create_and_delete_subdir, 1}]}.
