%% -*- mode: erlang -*-

{mode, max}.

{duration, 15}.

{concurrent, 50}.

{driver, basho_bench_driver_hibari}.

{code_paths, ["lib/cluster_info",
              "lib/gmt_util",
              "lib/gdss_brick",
              "lib/gdss_client",
              "lib/stats",
              "lib/basho_bench"]}.

{key_generator, {int_to_bin, {uniform_int, 35000}}}.

{value_generator, {constant_bin, 10000}}.
