%% -*- mode: erlang -*-

{mode, max}.

{duration, 15}.

{concurrent, 20}.

{initial_file_count, {{dir, 50}, {file, 20}}}.

{driver, basho_bench_driver_hibarifs}.

{code_paths, ["lib/cluster_info",
              "lib/gmt_util",
              "lib/gdss_brick",
              "lib/gdss_client",
              "lib/meck",
              "lib/stats",
              "lib/basho_bench"]}.

{hibarifs_proto, brick_simple_stub}.
%%{hibarifs_proto, brick_simple}.
%%{hibarifs_proto, localfs}.

%%{hibari_admin_nodes, ['hibari@127.0.0.1']}.
%%{hibarifs_table, tab_hb1}.

{key_generator, {pareto_int, 35000}}.

%%{value_generator, {constant_bin, 0}}.
{value_generator, {constant_bin, 10000}}.

{operations, [{create, 20}, {write, 20}, {delete, 10}, {read, 60}, {lsdir, 1}]}.

