%% -*- mode: erlang -*-

{mode, max}.

{duration, 15}.

{concurrent, 50}.

{driver, basho_bench_driver_hibarifs}.

{code_paths, ["lib/stats",
              "lib/basho_bench"]}.

{key_generator, {uniform_int, 35000}}.

{value_generator, {constant_bin, 10000}}.

{operations, [{create, 1}, {write, 1}, {delete, 1}, {read, 1}, {lsdir, 1}
              , {mkdir_empty, 1}, {rmdir_empty, 1}, {lsdir_empty, 1}
             ]}.

%%{operations, [{create_and_delete_topdir, 1}]}.
%%{operations, [{create_and_delete_subdir, 1}]}.
%%{operations, [{create_and_delete_topdir, 1}, {create_and_delete_subdir, 1}]}.
