%% -*- mode: erlang -*-

%% Number of concurrent worker processes
{concurrent, 5}.

%% Benchmark will end when it meets one of the following conditions
{max_files_per_worker, 100}.
{duration, 9999}.

%% Operation rate. 'max' or '{rate, Seconds}'
{mode, max}.
%%{mode, {rate, 10}}.



%% Mount point (absolute path)

{hibarifs_mount_point, "/mnt/hfs1"}.


%% Size of the file in bytes (Only valid for write operation) 
{value_generator, {constant_bin, 10000}}.


%% Operations: 
%% Pick only one operation. For this particular driver, you can't mix 
%% multiple operations.

{operations, [{write, 1}]}.
%%{operations, [{read, 1}]}.
%%{operations, [{delete, 1}]}.


%% If true, the driver will print file-path on each operation.
%%{debug, true}.


%%
%% BashoBench driver information
%%
{driver, basho_bench_driver_hibarifs_simple}.

{code_paths, ["lib/cluster_info",
              "lib/gmt_util",
              "lib/gdss_brick",
              "lib/gdss_client",
              "lib/meck",
              "lib/stats",
              "lib/basho_bench"]}.
