{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_http}.

%% Example syntax (mykeygen_seq is not defined)
%% {key_generator, {function, test, mykeygen_seq, [10000, 10, 10, 100]}}.

{key_generator, {int_to_str, {uniform_int, 50000}}}.

{operations, [
	{{get, {"localhost", 4567, "/"}}, 1},
	{{put, {"localhost", 4567, "/", 
		"{\"this\":\"is_json_%%V\"}"}}, 1}
]}.