{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_http_raw}.

{code_paths, ["deps/ibrowse"]}.

{key_generator, {function, test, mykeygen_seq, [10000, 10, 10, 100]}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8098}.

{operations, [{update, 1}]}.

{source_dir, "foo"}.
