{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_http}.

{key_generator, {int_to_str, {uniform_int, 50000}}}.

{value_generator, {fixed_bin, 10}}.

{operations, [
    %% Get without a key
    {{get, {"localhost", 4567, "/"}, []}, 1},
    %% Get with a key and headers
    {{get_re, {"localhost", 4567, "/%%K"}, [{'Content-Type', 'application/json'}]}, 1},
    %% Put with a json object and value
    {{put_re, {"localhost", 4567, "/", 
        "{\"this\":\"is_json_%%V\"}"}, [{'Content-Type', 'application/json'}]}, 1},
    %% Post with an xml object and value
    {{post_re, {"localhost", 4567, "/%%K", 
        "<?xml version=\"1.0\"?><catalog><book><author>%%V</author></book></catalog>"}, 
        [{'Content-Type', 'application/xml'}]}, 1},
    %% Delete with a key
    {{delete_re, {"localhost", 4567, "/%%K"}, []}, 1}
]}.