{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_http_raw}.

%{code_paths, ["deps/stats",
%              "deps/ibrowse"]}.

{key_generator, {external, test, hoss_seq, [10000, 10, 10, 100]}}.

{value_generator, {fixed_bin, 10000}}.

{http_raw_port, 8091}.

{operations, [{update, 1}]}.

{source_dir, "foo"}.
