{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_innostore}.


%% the second element in the list below (e.g., "../innostore") must point to
%% the relevant directory of an innostore installation
{code_paths, ["../innostore"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 500000}}}.

{value_generator, {fixed_bin, 10000}}.

{innostore_config, [
                    {data_home_dir,            "/tmp/innodb"},
                    {log_group_home_dir,       "/tmp/innodb"},
                    {buffer_pool_size,         1073741824}, %% 1G of Buffer
                    {log_files_in_group,       4},
                    {log_file_size,            134217728}  %% 128 MB log files
                 ]}.

{operations, [{put, 1}]}.
