{duration, 15}.

{concurrent, 1}.

{driver, riak_bench_driver_innodb}.

{code_paths, ["../../public/stats",
              "../riak_innodb_backend-0.1"]}.

{key_generator, {uniform_int, 350000}}.

{value_generator, {fixed_bin, 10000}}.

{innodb_config, [ 
%                  {data_home_dir,            "data/innodb"},
%                  {log_group_home_dir,       "data/innodb"},
                  {buffer_pool_size,         1073741824} %% 1G of Buffer
%                  {thread_concurrency,       4},
%                  {flush_log_at_trx_commit,  1},
%                  {flush_method,             "O_DIRECT"},
%                  {max_dirty_pages_pct,      20},
%                  {log_buffer_size,          8388608},
%                  {log_files_in_group,       4},
%                  {log_file_size,            268435456}  %% 256 MB log files
%                  {thread_sleep_delay,       1000}
                 ]}.
