{mode, max}.

{duration, 5}.
{report_interval, 1}.

{concurrent, 16}.

{driver, basho_bench_driver_kv_backend}.
{code_paths, [
	"/Users/fritchie/b/src/riak_kv/ebin",
	"/Users/fritchie/b/src/riak_core/ebin"
	]}.

{key_generator, {int_to_bin, {uniform_int, 5000}}}.
{disable_sequential_int_progress_report, true}.
{value_generator, {fixed_bin, 102480}}.

%{be_disable_uses_r_object, true}.
%{be_backend_mod, riak_kv_yessir_backend}.
%{be_config, [
%             {yessir_aae_mode_encoding, constant_binary},
%             {yessir_default_size, 102480}	% coordinate with value_generator!
%            ]}.

{be_backend_mod, riak_kv_memory_backend}.
{be_config, [ ]}.

%% Our ops: 75% of 'absolutely_nothing'
%%          15% of 'do_something'
%%          10% of 'do_something_else'
%{operations, [{get, 15}, {put, 15}]}.
{operations, [{put, 15}]}.
