{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 16}.

{driver, basho_bench_driver_kv_backend}.
{code_paths, [
	"/Users/fritchie/b/src/riak_kv/ebin",
	"/Users/fritchie/b/src/riak_core/ebin"
	]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 5000}}}.
{disable_sequential_int_progress_report, true}.
{value_generator, {fixed_bin, 102480}}.

%{be_disable_uses_r_object, true}.
{be_backend_mod, riak_kv_yessir_backend}.
{be_config, [
             {yessir_return_same_r_obj, true},  % fastest & dumbest method
             {yessir_default_size, 102480}	% coordinate with value_generator!
            ]}.

%{be_backend_mod, riak_kv_memory_backend}.
%{be_config, [ ]}.

%{operations, [{get, 10}]}.
{operations, [{get, 10}, {put, 10}]}.
%{operations, [{put, 10}]}.
