{mode, max}.

{duration, 1}.
%{report_interval, 1}.

%{concurrent, 8}.

{driver, basho_bench_driver_lager}.

{key_generator, {function, basho_bench_driver_lager, keygen, []}}.
{value_generator, {function, basho_bench_driver_lager, valgen, []}}.

{operations, [{log, 1}
             
             ]}.
