%%-*- mode: erlang -*-
%% ex: ft=erlang ts=4 sw=4 et

%% FAQ:
%% * How do I start a test run?
%%   ./basho_bench examples/leveldb.config
%%   rm data/* ; sync; sync; echo 3 > /proc/sys/vm/drop_caches

{mode, max}.
{duration, 300}.
{concurrent, 8}.
{driver, basho_bench_driver_leveldb}.
{key_generator, {int_to_bin_littleendian,{uniform_int, 5000000}}}.
%{value_generator, {fixed_bin, 1024}}.
{value_generator, {highly_compressible_bin, 2048}}.
{operations, [{get, 25}, {put, 70}, {delete, 5}]}.
%{operations, [{put, 1}]}.
%{operations, [{put, 1}, {get, 1}]}.
{code_paths, ["../eleveldb"]}.
{leveldb_work_dir, "/home/gburd/ws/basho_bench/data"}.

{eleveldb, [
             {max_open_files, 500},
             {cache_size, 2147483648}, %536870912},
             {write_buffer_size, 62914560},
             {sync, false},
             {verify_checksums, true},
             %{paranoid_checks, true},
             {use_bloomfilter, true}
            ]}.
