{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 8}.

{driver, basho_bench_driver_memcached}.

{key_generator, {to_binstr, "~10..0B", {uniform_int, 1000000}}}.
%% preload
%% {key_generator, {to_binstr, "~10..0B", {partitioned_sequential_int, 1000000}}}.
{value_generator, {fixed_bin, 100}}.

%% preload for incr/decr, set all values to zeros
%% {key_generator, {to_binstr, "~10..0B", {partitioned_sequential_int, 1000000}}}.
%% {value_generator, {fixed_bin, 1, $0}}.

%% TODO: only first element is used (currently)
{memcached_ips, ["127.0.0.1"]}.
{memcached_default_port, 11211}.

%% implemented ops: set, get, incr
{operations, [{set, 1}]}.
