{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 8}.

{driver, basho_bench_driver_null}.

{key_generator, {partitioned_sequential_int, 5000000}}.
{disable_sequential_int_progress_report, true}.
{value_generator, {fixed_bin, 10248}}.

%% Our ops: 70% of 'absolutely_nothing'
%%          10% of 'an_error'
%%          20% of 'do_something_else'
{operations, [{do_something, 7}, {an_error, 1}, {another_error, 2}]}.
