{mode, max}.

{duration, infinity}.

{concurrent, 1}.

{driver, basho_bench_driver_null}.

{key_generator, {int_to_bin, {sequential_int, 5000}}}.
%% To permit the sequential_int and partitioned_sequential_int
%% key generators to be able to resume where they left off after a
%% crash (of the client or of the server), uncomment the
%% sequential_int_state_dir and edit path accordingly.
%% {sequential_int_state_dir, "/full/path/to/state/dir"}.
{value_generator, {fixed_bin, 10248}}.

{operations, [{put, 1}, {an_error, 1}, {another_error, 2}]}.
