{mode, max}.

{duration, 5}.
{report_interval, 1}.

{concurrent, 8}.

{driver, basho_bench_driver_null}.

{key_generator, {sequential_int, 5000000}}.
{disable_sequential_int_progress_report, true}.
{value_generator, {fixed_bin, 10248}}.

%% Our ops: 75% of 'absolutely_nothing'
%%          15% of 'do_something'
%%          10% of 'do_something_else'
{operations, [{absolutely_nothing, 15},
              {do_something, 3},
              {do_something_else, 2}]}.
