%%
%% Run 50/50 get/put mix against pareto distribution - 750k keys, 1k values
%%

%% Run as fast as you can for a day
{mode, max}.
{duration, 240}.

%% Concurrency
{concurrent, 32}.

%% Set up bucket to use - configure with n_val=1
%% using riak_core_bucket:set_bucket(<<"b1">>,[{n_val,1}]).
%% from riak console
{riakc_pb_bucket, <<"b1">>}.
{key_generator, {int_to_bin, {truncated_pareto_int, 750000}}}.
{value_generator, {fixed_bin, 1000}}.
{operations, [{update, 1}]}. %% update - 50% get, 50% put

%% Riak connection info
%% {riakc_pb_ips, [ "71.126.247.236" ]}.
{riakc_pb_replies, default}.

%% Setup cruft
{driver, basho_bench_driver_riakc_pb}.
{code_paths, ["deps/riakc",
              "deps/protobuffs"]}.
