{mode,{rate,max}}.
{duration,20}.
{concurrent,200}.
{rng_seed,now}.

%% This bucket type must be created and set to be datatype, maps.
%%{riakc_pb_bucket,{<<"TagsTest">>,<<"TagsTestBucket">>}}.
{riakc_pb_bucket,{<<"Log">>,<<"InstallLogTest">>}}.

{key_generator, {uniform_int, 100}}.
{value_generator, {uniform_int, 1000}}.

{operations,[{{game,completed},10},
             {{team,player,addition},3},
             {{team,player,removal},3},
             {{team,read},100},
             {{team,write},1}]}.

{riakc_pb_ips,[
   {"localhost",8087}
   %%{"13.0.6.35",8087}
]}.

{riakc_pb_replies,default}.

{driver,basho_bench_driver_riakc_pb}.
