{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_bin, {uniform_int, 100}}}.

{value_generator, {fixed_bin, 100}}.

{index_key_generator, {int_to_bin, {uniform_int, 100}}}.

{index_value_generator, {fixed_bin, 100}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{operations, [{get_term_index, 1},{{put_term_index, 1}, 1},{{update_term_index, 1}, 1},{{delete_term_index, 1}, 1},{delete, 1},{update,1},{get,1},{{get_index,"intindex",5},1},{{get_index,"intindex",5, 10},1},{{get_index,"binindex",5},1},{{get_index,"binindex",5,10},1}]}.

{secondary_indexes, [{"intindex",integer_index,1,100},{"binindex",binary_index,1,100}]}.






