{mode, max}.

{report_interval, 1}.

{duration, 360}.

{concurrent, 5}.

{driver, basho_bench_driver_riakclient_sets}.

{code_paths, ["/Users/russell/dev/e/basho/proto/bigset/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_kv/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_core/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_dt/ebin"
]}.

{key_generator, {int_to_bin_bigendian, {sequential_int, 100}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {partitioned_sequential_int, 100000}}}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['bigset_bench@127.0.0.1', longnames]}.
{riakclient_bucket, {<<"sets">>, <<"test">>}}.
{riakclient_set_batchsize, 10000}.
{operations, [{batch_insert, 1}]}.
