{mode, max}.

{report_interval, 1}.

{duration, 5}.

{concurrent, 5}.

{driver, basho_bench_driver_riakclient_sets}.

{code_paths, ["/Users/russell/dev/e/basho/proto/bigset/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_kv/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_core/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_dt/ebin"
]}.

%% After preloading, read, assumes sets from <<0,0,0,0>> to
%% <<0,0,0,99>> exist. Valgen shouldn't be used, eh?

{key_generator, {int_to_bin_bigendian, {uniform_int, 100}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {uniform_int, 100000}}}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['bigset_bench@127.0.0.1', longnames]}.
{riakclient_bucket, {<<"sets">>, <<"test">>}}.

{operations, [{read, 1}]}.
