{mode, max}.

{report_interval, 1}.

{duration, 10}.

{concurrent, 20}.

{code_paths, ["/home/russelldb/bigsets/ebin",                                                        
              "/home/russelldb/riak/deps/riak_kv/ebin",                                              
              "/home/russelldb/riak/deps/riak_core/ebin",                                            
              "/home/russelldb/riak/deps/riak_dt/ebin"                                                ]}.

{driver, basho_bench_driver_riakclient_sets}.

{key_generator, {int_to_bin_bigendian, {pareto_int, 1000}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {uniform_int, 100000}}}}.

{riakclient_nodes, ['riak@10.0.24.23','riak@10.0.24.24','riak@10.0.24.25','riak@10.0.24.26']}.

{riakclient_mynode, ['bigset_bench@10.0.24.22', longnames]}.

{riakclient_bucket, {<<"sets">>, <<"test">>}}.

{operations, [{read, 1}]}.
