{mode, {rate, max}}.
{duration, 5}.
{concurrent, 5}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, sets.
{riakc_dt_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {uniform_int, 100}}.

%% 1000 elements, exponential binary
{value_generator, {exponential_bin, 100, 500}}.

{riakc_dt_preload_sets, true}.
{riakc_dt_preload_sets_num, 10}.
{riakc_dt_max_vals_for_preload, 1000}.

{operations, [{{set, insert}, 1}]}.

{riakc_dt_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
