{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_riakclient_sets}.

{code_paths, ["/Users/russell/dev/e/basho/proto/bigset/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_kv/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_core/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_dt/ebin"
]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 1}}}.

{value_generator, {fixed_bin, 10000}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['bigset_bench@127.0.0.1', longnames]}.
{riakclient_bucket, {<<"sets">>, <<"test">>}}.

{operations, [{insert, 100}]}.