{mode, max}.

{report_interval, 1}.

{duration, 1}.

{concurrent, 50}.

{driver, basho_bench_driver_riakclient_sets}.

{code_paths, ["../bigsets/ebin",
              "../riak/deps/riak_kv/ebin",
              "../riak/deps/riak_core/ebin",
              "../riak/deps/riak_dt/ebin"
]}.

{key_generator, {int_to_bin_bigendian, {pareto_int, 1000}}}.
{value_generator, {keygen, {int_to_bin_bigendian, {uniform_int, 100000}}}}.
{riakclient_nodes, ['riak1@127.0.0.1','riak2@127.0.0.1','riak3@127.0.0.1','riak4@127.0.0.1']}.

{riakclient_mynode, ['bigset_bench@127.0.0.1', longnames]}.
{riakclient_bucket, {<<"sets">>, <<"test">>}}.

{operations, [{insert, 1}]}.
