{mode, max}.

{duration, 60}.

{concurrent, 1}.

{report_interval, 1}.

{driver, basho_bench_driver_timeseries_pb}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_port, 8087}.

{operations, [{ts_query, 1}]}.

%% BucketName, FamilyList, SeriesList, StartTimestamp, EndTimestamp, RangeSize
{key_generator, {timeseries_query, "GeoCheckin", ["myhost"], ["1"], 1, 1000, 10}}.
