{mode, max}.

{duration, 15}.

{concurrent, 5}.

{driver, basho_bench_driver_riakclient}.

{code_paths, ["/Users/VINCESTAPLES/riak_ee/deps/riak_kv",
              "/Users/VINCESTAPLES/riak_ee/deps/riak_core"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 35000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakclient_nodes, ['dev1@127.0.0.1']}.

{riakclient_mynode, ['riak_bench@127.0.0.1', longnames]}.

{riakclient_replies, 1}.
