{mode, {rate, max}}.
{duration, 1}.
{concurrent, 1}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, sets.
{riakc_dt_pb_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {sequential_int, 100}}}.
{value_generator, {fixed_bin_set, 1000, 200}}.

{operations, [{{set, insert}, 1}]}.

{riakc_dt_pb_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
