{mode, max}.

{duration, 100}.

{concurrent, 16}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_bin, {pareto_int, 1000}}}.

{value_generator, {fixed_bin, 100}}.

{riakc_pb_ips, [
                {{127,0,0,1}, 8081}, %% {Ip, Port}
                {{127,0,0,1}, [8082, 8083, 8084]} %% {Ip, Ports}
               ]}.

{riakc_pb_replies, 1}.

{riakc_pb_res_on_get, true}.
{riakc_pb_res_after_put, true}.
{riakc_pb_res_during_update, true}.
{riakc_pb_max_res_attempts, 5}.
{riakc_pb_res_timeout, {1000,2000}}.

{operations, [{get, 1}, {update, 1}]}.

