{mode, {rate, max}}.
{duration, 5}.
{concurrent, 10}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, maps.
{riakc_dt_bucket, {<<"maps">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10}}}.
{value_generator, {var_bin_set, 1000, 100, poisson}}.

{operations, [{{map, counter, insert_no_ctx}, 20}, {{map, register, modify}, 2},
              {{map, read}, 5}, {{map, map, insert}, 1},
              {{map, flag, modify}, 1}, {{map, multi_ops, insert_no_ctx}, 1}]}.

{riakc_dt_map_multi_ops, [map_counter, map_register, map_flag, map_set,
                          map_map]}.

{riakc_dt_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
