% This configuration file pre-loads records that are required in order
% to run riakc_pb_21.config successfully.
{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_str, {sequential_int, 10000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{operations, [{put,1}]}.

% Add 2 secondary indexes to each object, one integer index and one binary index
{secondary_indexes, [{"intindex",integer_index,1,100},{"binindex",binary_index,1,100}]}.
