{mode, max}.

{duration, 10}.

{concurrent, 3}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakc_pb_ips, [
                {{127,0,0,1}, 10017}, %% {Ip, Port}   
                {{127,0,0,1}, 10027}, %% {Ip, Port}   
                {{127,0,0,1}, [10037, 10047]} %% {Ip, Ports}
               ]}.

{riakc_pb_replies, 1}.

{operations, [{get, 1}, {update, 1}]}.

