% This file contains an example of a job simulating secondary index queries
% and multi-GET queries emulated through MapReduce. 
% The MapReduce multiget operation assumes that all keys in the keyspace
% does exist at the start, and requiresconfig file riakc_pb_2i_preload.config 
% to be run first.
% This test requires LevelDB backend to work.
{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {to_binstr, "~p", {uniform_int, 10000}}}.

{value_generator, {fixed_bin, 1000}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{operations, [{update,1},{get,1},{{get_index,"intindex",5},1},{{get_index,"intindex",5, 10},1},{{get_index,"binindex",5},1},{{get_index,"binindex",5,10},1}]}.

{secondary_indexes, [{"intindex",integer_index,1,100},{"binindex",binary_index,1,100}]}.
