% -*- mode: erlang -*-
{driver, basho_bench_driver_riakc_pb}.

{code_paths, ["deps/stats",
              "deps/riakc",
              "deps/protobuffs"]}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

{riakc_pb_bucket, <<"bryanitbs">>}.

%% load

%% {mode, max}.
%% {duration, 10000}.
%% {concurrent, 1}.
%% {operations, [{put, 1}]}.
%% {key_generator, {int_to_str, {sequential_int, 10000}}}.
%% {value_generator,
%%  {function, basho_bench_driver_riakc_pb, mapred_valgen, [10000]}}.

%% test

{mode, max}.
{duration, 1}.
{concurrent, 1}.
{operations, [{mr_keylist_js, 1}]}.
{key_generator, {int_to_str, {uniform_int, 9999}}}.
{value_generator, {fixed_bin, 1}}.
{riakc_pb_keylist_length, 1000}.

