{mode, {rate, max}}.
{duration, 3}.
{concurrent, 5}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, sets.
{riakc_dt_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10}}}.

%% MinSize=10, MaxSize=100, 1000 items
{value_generator, {var_bin_set, 10, 100, 1000}}.

{riakc_dt_run_one_set, true}.

{operations, [{{set, insert_no_ctx}, 1}]}.

{riakc_dt_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
