{mode, max}.

{duration, 300}.
{report_interval, 300}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator,
  {concat_binary,
    {base64,
      {int_to_bin_bigendian,
        {pareto_int, 200000000}
      }
    },
    <<>>}
}.

{value_generator, {semi_compressible, 4000, 8000}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

%%% {operations, [{get, 1}]}.
{operations, [{pause_minute, 4}, {listkeys, 1}]}.

%% Use {auto_reconnect, false} to get "old" behavior (prior to April 2013).
%% See deps/riakc/src/riakc_pb_socket.erl for all valid socket options.
{pb_connect_options, [{auto_reconnect, true}]}.

%% Overrides for the PB client's default 60 second timeout, on a
%% per-type-of-operation basis.  All timeout units are specified in
%% milliseconds.  The pb_timeout_general config item provides a
%% default timeout if the read/write/listkeys/mapreduce timeout is not
%% specified.

{pb_timeout_general, 30000}.
{pb_timeout_read, 10000}.
{pb_timeout_write, 10000}.
{pb_timeout_listkeys, 3600000}.
%% The general timeout will be used because this specific item is commented:
%% {pb_timeout_mapreduce, 50000}.
