{mode, max}.

{duration, 1440}.
{report_interval, 10}.

{node_name, testnode1}.

{concurrent, 100}.

{driver, basho_bench_driver_nhs}.

%% Ignored by alwaysget and unique operations
{key_generator, {eightytwenty_int, 100000000}}.

{value_generator, {semi_compressible, 5000, 3000, 5, 0.2}}.

%% For alwaysget operations what is:
%% - the maximum number of keys per worker (max number of keys = this * concurrent)
%% - whether the inserts should be in key_order, or whether the order should be skewed by a 1 byte hash at the head of the key
{alwaysget, {600000, 1, skew_order}}.

{pb_ips, [{127,0,0,1}]}.
{http_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

{operations, [{alwaysget_pb, 612}, {alwaysget_updatewith2i, 192}, 
                {put_unique, 64}, {get_unique, 128}, 
                {postcodequery_http, 3}, {dobquery_http, 1}]}.

%% Use {auto_reconnect, false} to get "old" behavior (prior to April 2013).
%% See deps/riakc/src/riakc_pb_socket.erl for all valid socket options.
{pb_connect_options, [{auto_reconnect, true}]}.

%% Overrides for the PB client's default 60 second timeout, on a
%% per-type-of-operation basis.  All timeout units are specified in
%% milliseconds.  The pb_timeout_general config item provides a
%% default timeout if the read/write/listkeys/mapreduce timeout is not
%% specified.

{pb_timeout_general, 60000}.
{pb_timeout_read, 10000}.
{pb_timeout_write, 10000}.
{pb_timeout_listkeys, 60000}.
%% The general timeout will be used because this specific item is commented:
%% {pb_timeout_mapreduce, 50000}.
