%% This configuration can be used to generate text data that can be indexed by Riak Search and/or Yokozuna
{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_str, {uniform_int, 1000}}}.

{value_generator, {fixed_bin, 1000}}.

{riakc_pb_content_type, "text/plain"}.

%% This parameter specifies the file that binary values will be extracted from. As
%% the example file contains only text this will be indexable and match the content type.
%% Note that the path will need to be adjusted to fit the environment.
%% This example text file was downloaded from http://www.textfiles.com/etext/FICTION/
{value_generator_blob_file, "<path>/AroundTheWorldIn80Days.txt"}.

{riakc_pb_ips, [{127,0,0,1}]}.

%% Use default quorom settings
%%{riakc_pb_replies, 1}.

{operations, [{put, 1},{get, 1},{update, 1}]}.

%% Use {auto_reconnect, false} to get "old" behavior (prior to April 2013).
%% See deps/riakc/src/riakc_pb_socket.erl for all valid socket options.
{pb_connect_options, [{auto_reconnect, true}]}.

%% Overrides for the PB client's default 60 second timeout, on a
%% per-type-of-operation basis.  All timeout units are specified in
%% milliseconds.  The pb_timeout_general config item provides a
%% default timeout if the read/write/listkeys/mapreduce timeout is not
%% specified.

{pb_timeout_general, 30000}.
{pb_timeout_read, 5000}.
{pb_timeout_write, 5000}.
{pb_timeout_listkeys, 50000}.
%% The general timeout will be used because this specific item is commented:
%% {pb_timeout_mapreduce, 50000}.
