{mode, {rate, max}}.
{duration, 3}.
{concurrent, 5}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, sets.
{riakc_dt_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10}}}.

%% 1000 per batch, means 10 sets w/ 1000 items that are 100 (4 + 96) bytes each
{value_generator, {keygen, {concat_binary, {valgen, {bin_seed, 96}},
    {int_to_bin_bigendian, {sequential_int, 1000000}}}}}.

{riakc_dt_sets_batchsize, 1000}.

{operations, [{{set, batch_insert}, 1}]}.

{riakc_dt_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
