{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_pb}.

%% Key generator examples
%% 1. variable-digit decimal
{key_generator, {int_to_str, {uniform_int, 10000}}}.
%% 2. zero-padded 16-digit decimal
%% {key_generator, {to_binstr, "~16.10.0B", {uniform_int, 10000}}}.
%% 3. 32bit binary (big-endian)
%% {key_generator, {int_to_bin_bigendian, {uniform_int, 10000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

{operations, [{get, 1}, {update, 1}]}.

