{mode, max}.

{duration, 10}.

{concurrent, 3}.

{driver, basho_bench_driver_riakc_pb}.

%%{key_generator, {int_to_bin_bigendian, {uniform_int, 10000}}}.
%%{value_generator, {fixed_bin, 10000}}.

{riakc_pb_ips, [
                {{127,0,0,1}, 10017}, %% {Ip, Port}   
                {{127,0,0,1}, 10027}, %% {Ip, Port}   
                {{127,0,0,1}, [10037, 10047]} %% {Ip, Ports}
               ]}.

{riakc_pb_search_queries, [{<<"index">>, "query", [{rows,10}]}]}. %% last element of the tuple is a list of Search options/params. 

{operations, [{search, 1}]}.

%% {query_step_interval, 60}. %% time in seconds to run each query before switching to the next one in the list, default is 60 seconds.
%% {operations, [{search_interval, 1}]}.

