{mode, {rate, max}}.
{duration, 1}.
{concurrent, 1}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, sets.
{riakc_dt_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 1000}}}.
{value_generator, {keygen, {int_to_bin_bigendian, {sequential_int, 10000}}}}.

{operations, [{{set, insert}, 1}]}.

{riakc_dt_ips,
        [{"riak101.aws", 8087},
         {"riak102.aws", 8087},
         {"riak103.aws", 8087},
         {"riak104.aws", 8087},
         {"riak105.aws", 8087}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
