{mode, {rate, max}}.
{duration, 2}.
{concurrent, 5}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, maps.
{riakc_dt_pb_bucket, {<<"maps">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10}}}.
{value_generator, {fixed_bin, 10000}}.

{operations, [{{map, map, modify}, 1}]}.

{riakc_dt_run_one_map, true}.

{riakc_dt_pb_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
