{mode, {rate, max}}.
{duration, 2}.
{concurrent, 5}.
{report_interval, 1}.
{mode, max}.

{riakclient_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {pareto_int, 100}}}.
{value_generator, {keygen, {int_to_bin_bigendian, {sequential_int, 100000}}}}.

{code_paths, ["/Users/VINCESTAPLES/riak_ee/deps/riak_kv/ebin",
              "/Users/VINCESTAPLES/riak_ee/deps/riak_dt/ebin",
              "/Users/VINCESTAPLES/riak_ee/deps/riak_core/ebin"]}.

{riakclient_mynode, ['dev1_bench@127.0.0.1', longnames]}.
{riakclient_nodes, ['dev1@127.0.0.1', 'dev2@127.0.0.1', 'dev3@127.0.0.1',
                    'dev4@127.0.0.1', 'dev5@127.0.0.1']}.

{operations, [{insert, 10}, {read, 3}, {remove_last_read, 1}]}.

{driver, basho_bench_driver_riakclient_sets}.
