{mode, max}.

{report_interval, 1}.

{duration, 360}.

{concurrent, 3}.

{driver, basho_bench_driver_riakclient_sets}.

{code_paths, ["/Users/russell/dev/e/basho/proto/demo/bigsets/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_kv/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_core/ebin",
              "/Users/russell/dev/e/basho/proto/riak-2.1/deps/riak_dt/ebin"
]}.

{key_generator, {int_to_bin_bigendian, {sequential_int, 1}}}.

{value_generator, {keygen, {int_to_bin_bigendian, {named_partitioned_sequential_int, bob, 1, 10000}}}}.
%%{value_generator, {keygen, {int_to_bin_bigendian, {sequential_int, 1000}}}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['riak_bench@127.0.0.1', longnames]}.
{riakclient_bucket, {<<"sets">>, <<"test">>}}.

{operations, [{insert_pl, 1}]}.
