{mode, {rate, max}}.
{duration, 2}.
{concurrent, 5}.
{report_interval, 1}.

%% This bucket type must be created and set to be datatype, sets.
{riakc_dt_bucket, {<<"sets">>, <<"test">>}}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10}}}.
%% {value_generator, {keygen, {int_to_bin_bigendian, {sequential_int, 10000}}}}.
{value_generator, {var_bin_set, 10, 100, 1000}}.

%% 50 writes to 1 read
{operations, [{{set, insert}, 50}, {{set, read}, 1}, {{set, is_element}, 1},
              {{set, remove}, 1}]}.

{riakc_dt_ips, [{{127,0,0,1}, [10017, 10027, 10037, 10047, 10057]}]}.

{driver, basho_bench_driver_riakc_dt_pb}.
