{mode, max}.

{duration, 15}.

{concurrent, 1}.

{report_interval, 1}.

{operations, [{rt_port_ts, 1}]}.

{driver, basho_bench_driver_timeseries_pb}.

{key_generator, partitioned_sequential_int, 0, 20000}.

{value_generator, {rt_port}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{ts, false}.

{riakc_pb_port, 10017}.

{riakc_pb_bucket, <<"fastpath">>}.