{mode, max}.

{duration, 1}.

{concurrent, 10}.

{driver, basho_bench_driver_cs}.

{cs_access_key, "your access key for S3"}.
{cs_secret_key, "your secret key for S3"}.
{cs_host,       "s3.amazonaws.com"}.
{cs_port,        80}.
{cs_protocol,   "https"}.
{cs_bucket,     "bench_test"}.

{key_generator,   {uniform_int, 1000}}.
{value_generator, {fixed_bin, 10000}}.

{operations, [{put, 1}, {get, 1}]}.
