{mode, max}.
{duration, infinity}.
{concurrent, 8}.
{driver, basho_bench_driver_shortcut}.
{key_generator, {int_to_bin,{sequential_int, 50000}}}.

{value_generator, {fixed_bin, 100}}.

{operations, [{put, 1}]}.

%% The second element in the list below (e.g., "../../public/bitcask")
%% must point to the relevant directory of a bitcask installation.
%% We must also have a correct path to the riak_core app.
{code_paths, [%% "../../public/bitcask",
              "/Users/fritchie/b/src/riak_core",
              "/Users/fritchie/b/src/riak_kv",
              "/Users/fritchie/b/src/riak/deps/sext",
              "/Users/fritchie/b/src/eleveldb"]}.

{shortcut_backend, eleveldb}.
{shortcut_backend_flags, [{compression, false}]}.
{shortcut_data_dir, "/Users/fritchie/b/src/riak/rel/riak/data/leveldb"}.
%%{shortcut_data_dir, "/tmp/full/path/to/some/dir"}.
{shortcut_ring_creation_size, 64}.
{shortcut_n_val, 3}.  % typical n_val = 3
% Must match driver-specific config options used in later basho_bench runs!
{shortcut_bucket, <<"b1">>}.
{shortcut_store_riak_object, true}. % If false, store generated value as-is.
