{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_swift}.

%% Preload only
%% {key_generator, {int_to_str, {sequential_int, 50000}}}.
%% All other tests
{key_generator, {int_to_str, {uniform_int, 50000}}}.

{value_generator, {fixed_bin, 100}}.

{swift_ips, ["10.80.83.68"]}.
{swift_port, 8077}.
{swift_path, "/v1/AUTH_system/testdemo"}.
{swift_headers, {"X-Auth-Token", "AUTH_tk38ae9943be894984b689a62fb6c8bd5b"}}.

%% Note: put is the same as insert and update
%% {operations, [{put, 1},{get, 1},{delete, 1}]}.
{operations, [{put, 1}]}.
