{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_swift}.

%% Example syntax (mykeygen_seq is not defined)
%% {key_generator, {function, test, mykeygen_seq, [10000, 10, 10, 100]}}.

{value_generator, {fixed_bin, 1}}.

{swift_ips, ["10.80.83.68"]}.
{swift_port, 8077}.
{swift_path, "/v1/AUTH_system/testdemo"}.
{swift_headers, {"X-Auth-Token", "AUTH_tk38ae9943be894984b689a62fb6c8bd5b"}}.

{operations, [{get, 1}]}.
