{driver, basho_bench_driver_tape}.

%% The 'tape' driver is a simple file-to-riak pipe
%% The file is consult()ed, with each term expected to follow this spec:
%%
%% {Offset::non_neg_integer(), {Key::string(), Value::proplist()}}.
%%
%% where Offset is the time, from the beginning of test run, at which
%% to execute a put operation of this record. It can be already late
%% when the driver function run() gets called, in which case it is
%% dispatched immediately; otherwise, the function spends the
%% difference sleeping.

{tape_data, "../../../data-platform/populator.dump"}.

{mode, max}.        % we time operations ourselves
{concurrent, 1}.    % multiple processes can well be possible, though
{operations, [{put, 1}]}.  % keep it simple
{duration, infinity}.  % run until eof

%% preset for a devrel riak build
{riakc_pb_ips, [{{127,0,0,1}, 10017}]}.
{riakc_pb_bucket, <<"Checkins">>}.
{riakc_pb_content_type, "application/octet-stream"}.  % or "application/json"
