{mode,{rate,max}}.
{duration,5}.
{rng_seed,now}.

%% This bucket type must be created and set to be datatype, maps.
{riakc_pb_bucket,{<<"maps">>,<<"testbucket">>}}.

%% Pareto distribution over 7.5 million records.
{key_generator, {truncated_pareto_int, 7500000}}.
{value_generator, {uniform_int, 100}}.

%% 10k writes/minute, ~166.6 reads/second
{concurrent,167}.
{operations,[{{events_devices,read},1},
             {{events_devices,update},10}]}.

{riakc_pb_ips,[{"127.0.0.1",10017}]}.

{riakc_pb_replies,default}.

{driver,basho_bench_driver_riakc_pb}.
