{mode, max}.
{duration, 1}.
{concurrent, 5}.
{report_interval, 1}.

{driver, basho_bench_driver_timeseries_pb}.

{riakc_pb_ips, [{127,0,0,1}]}.
{riakc_pb_port, 8087}.

{operations, [{ts_query, 1}]}.

%% TableName, StartTime, EndTime, DayRange, UserCount
{key_generator, {time_user_query, "action", 1420088400000, 1425186000000, 30, 5}}.
