%%-*- mode: erlang -*-
%% ex: ft=erlang ts=4 sw=4 et

%% FAQ:
%% * WiredTiger loads a few shared libs at runtime.
%% * How do I start a test run?
%%   LD_LIBRARY_PATH=/home/gburd/ws/wterl/priv ./basho_bench examples/wt.config
%%   or if you have libumem (https://github.com/gburd/libumem) installed
%%   UMEM_OPTIONS=allocator=best LD_PRELOAD=/usr/local/lib/libumem.so LD_LIBRARY_PATH=/home/gburd/ws/wterl/priv ./basho_bench examples/wt.config

{mode, max}.
{duration, 480}.
{concurrent, 1000}.
{report_interval, 1}. % sec, default was 10
{pb_timeout_general, 1000}. % ms, default was 60 sec
%{pb_timeout_read, ?}.
%{pb_timeout_write, ?}.
%{pb_timeout_listkeys, ?}.
%{pb_timeout_mapreduce, ?}.
{driver, basho_bench_driver_wterl}.
%{key_generator, {int_to_bin_littleendian,{uniform_int, 5000000000}}}.
{key_generator, {int_to_bin_littleendian,{pareto_int, 5000000000}}}.
%{key_generator, uuid_v4}.
%{value_generator, {fixed_bin, 1024}}.
{value_generator, {highly_compressible_bin, 512}}.
{operations, [{get, 25}, {put, 70}, {delete, 5}]}.
%{operations, [{put, 1}]}.
%{operations, [{put, 1}, {get, 1}]}.
{code_paths, ["../wterl"]}.
{wterl_dir, "/data/ssd"}.

{wterl, [
        {connection, [
                      {create, true},
                      {checkpoint_sync, false},
                      {session_max, 8192},
		      {cache_size, 4294967296},
                      {verbose, []},
                         % "salvage", "verify" are okay, however...
                         % for some unknown reason, if you add these additional
                         % verbose flags Erlang SEGV's "size_object: bad tag for 0x80"
                         % no idea why... yet... you've been warned.
                         %"block", "shared_cache", "reconcile", "evict", "lsm",
                         %"fileops", "read", "write", "readserver", "evictserver",
                         %"hazard", "mutex", "ckpt"
                      {statistics_log, [{wait, 30}]}
                     ]},
        {session, [ {isolation, "snapshot"} ]},
        {table_uri, "lsm:test"},
        {table, [
		 {checksum, "uncompressed"},
                 {internal_page_max, "128K"},
                 {leaf_page_max, "128K"},
		 {lsm_chunk_size, "100MB"},
		 {lsm_merge_threads, 2},
		 {prefix_compression, false},
                 {lsm_bloom_newest, true},
                 {lsm_bloom_oldest, true} ,
                 {lsm_bloom_bit_count, 28},
                 {lsm_bloom_hash_count, 19},
                 {lsm_bloom_config, [{leaf_page_max, "8MB"}]},
                 {block_compressor, "snappy"}
                ]}
        ]}.

{wterl_, [
        {connection, [
                      {create, true},
                      {checkpoint_sync, false},
                      {session_max, 1024},
                      %{cache_size, 10737418240},
                      %{cache_size, 4294967296},
                      {verbose, []},
                         % "salvage", "verify" are okay, however...
                         % for some unknown reason, if you add these additional
                         % verbose flags Erlang SEGV's "size_object: bad tag for 0x80"
                         % no idea why... yet... you've been warned.
                         %"block", "shared_cache", "reconcile", "evict", "lsm",
                         %"fileops", "read", "write", "readserver", "evictserver",
                         %"hazard", "mutex", "ckpt"
                      {statistics_log, [{wait, 30}]},
                      {checkpoint, [{await, 30}]}
                     ]},
        {session, [ {isolation, "snapshot"} ]},
        {table_uri, "table:test"},
        {table, [
		 {checksum, "uncompressed"},
		 {internal_page_max, "128K"},
		 {leaf_page_max, "128K"},
                 {prefix_compression, false},
                 {block_compressor, "snappy"}
                ]}
        ]}.
