%%-*- mode: erlang -*-
%% ex: ft=erlang ts=4 sw=4 et

%% FAQ:
%% * WiredTiger loads a few shared libs at runtime.
%% * How do I start a test run?
%%   LD_LIBRARY_PATH=/home/gburd/ws/wterl/priv ./basho_bench examples/wt.config
%%   rm data/* ; sync; sync; echo 3 > /proc/sys/vm/drop_caches && LD_LIBRARY_PATH=/home/gburd/ws/wterl/priv ./basho_bench examples/wt.config

{mode, max}.
{duration, 300}.
{concurrent, 8}.
{driver, basho_bench_driver_wterl}.
{key_generator, {int_to_bin_littleendian,{uniform_int, 5000000}}}.
%{value_generator, {fixed_bin, 1024}}.
{value_generator, {highly_compressible_bin, 2048}}.
{operations, [{get, 25}, {put, 70}, {delete, 5}]}.
%{operations, [{put, 1}]}.
%{operations, [{put, 1}, {get, 1}]}.
{code_paths, ["../wterl"]}.
{wterl_dir, "/home/gburd/ws/basho_bench/data"}.

{wterl, [
        {connection, [
                      {create, true},
                      {sync, false},
                      {logging, true},
                      {transactional, true},
                      {session_max, 8192},
                      {cache_size, 2147483648},
                      %{cache_size, 524288000},
                      {verbose, []},
                         % "salvage", "verify" are okay, however...
                         % for some unknown reason, if you add these additional
                         % verbose flags Erlang SEGV's "size_object: bad tag for 0x80"
                         % no idea why... yet... you've been warned.
                         %"block", "shared_cache", "reconcile", "evict", "lsm",
                         %"fileops", "read", "write", "readserver", "evictserver",
                         %"hazard", "mutex", "ckpt"
                      {statistics_log, [{wait, 30}]}
                     ]},
        {session, [ {isolation, "snapshot"} ]},
        {table_uri, "lsm:test"},
        {table, [
                 {internal_page_max, "128K"},
                 {leaf_page_max, "128K"},
                 {lsm_chunk_size, "25MB"},
                 {prefix_compression, false},
                 {lsm_bloom_newest, true},
                 {lsm_bloom_oldest, true} ,
                 {lsm_bloom_bit_count, 128},
                 {lsm_bloom_hash_count, 64},
                 {lsm_bloom_config, [{leaf_page_max, "8MB"}]},
                 {block_compressor, "snappy"} % bzip2
                ]}
        ]}.

{wterl_, [
        {connection, [
                      {create, true},
                      {sync, false},
                      {logging, true},
                      {transactional, true},
                      {session_max, 1024},
                      {cache_size, 4294967296},
                      {verbose, []},
                         % "salvage", "verify" are okay, however...
                         % for some unknown reason, if you add these additional
                         % verbose flags Erlang SEGV's "size_object: bad tag for 0x80"
                         % no idea why... yet... you've been warned.
                         %"block", "shared_cache", "reconcile", "evict", "lsm",
                         %"fileops", "read", "write", "readserver", "evictserver",
                         %"hazard", "mutex", "ckpt"
                      {statistics_log, [{wait, 30}]},
                      {checkpoint, [{await, 10}]}
                     ]},
        {session, [ {isolation, "snapshot"} ]},
        {table_uri, "table:test"},
        {table, [
                 {prefix_compression, false},
                 {block_compressor, "snappy"} % bzip2
                ]}
        ]}.
