%% Prep:
%% curl -i -XPUT http://localhost:8098/search/index/my_index
{duration, 5}.
{concurrent, 64}.
{key_generator, {str_to_bin, {int_to_str, {partitioned_sequential_int, 1000000}}}}.
{value_generator, {
  function, basho_bench_driver_yz_pbc, json_valgen, [
    "./examples/yz_pbc_template.json",
    [{function, {basho_uuid, to_string, [{function, {basho_uuid, v4, []}}]}},
     {function, {random, uniform, [4]}},
     {function, {random, uniform, [20]}},
     {function, {random, uniform, [6]}}]
  ]}
}.
{riakc_pb_bucket, {<<"test_bucket_type">>, <<"test_bucket">>}}.
{riakc_pb_content_type, "application/json"}.
{operations, [{put, 1}]}.

{mode, max}.
{report_interval,1}.
{driver, basho_bench_driver_yz_pbc}.
{riakc_pb_replies, 1}.
{pb_connect_options, [{auto_reconnect, true}]}.
{pb_timeout_general, 30000}.
{pb_timeout_read, 5000}.
{pb_timeout_write, 5000}.
{pb_timeout_listkeys, 50000}.
