%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "basho_bench", "0.10.0",
        [
         kernel,
         stdlib,
	 bear,
	 lager,
	 folsom,
	 goldrush,
	 riakc,
	 ibrowse,
	 mochiweb
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "basho_bench"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, basho_bench, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "basho_bench"}.
{overlay_vars, "vars.config"}.

{overlay, [
           {template, "../deps/node_package/priv/base/env.sh",
                       "lib/env.sh"},
           {mkdir, "data/b_b"},

           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
                  "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
                  "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/env.sh",
                  "lib/env.sh"},
           {copy, "files/vm.args", "etc/vm.args"},

           {template, "files/basho_bench", "bin/basho_bench"},

	   {copy, "../examples/cs.config.sample", "etc/cs.config"},
	   {copy, "../examples/riakc_pb.config",  "etc/riakc_pb.config"},
	   {copy, "../examples/httpraw.config",   "etc/httpraw.config"},
	   {copy, "../examples/http.config",      "etc/http.config"},
	   {copy, "../examples/null_test.config", "etc/null_test.config"}

           %%{copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},

          ]}.
